

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="bg-warning text-white text-center p-3">Components</h1>
      <app-product></app-product>
      <app-test></app-test>
      <app-company></app-company>
      <app-student></app-student>
      <app-cars></app-cars>
      <app-books></app-books>
      <app-team></app-team>
      <app-bikes></app-bikes>
      <app-tuc></app-tuc>
      <app-test2></app-test2>
      <app-prod></app-prod>
    </div>
  </div>
</div>